#splash-page {
  $main-color: #fcfcfc;
  $highlight-color: #2a2;
  background: url("../img/splash.jpg") no-repeat center transparent;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .description {
    color: $main-color;
    background: rgba(25, 25, 25, .85);
    padding: 10px 15px;
    border-top-left-radius: 10px;
    position: fixed;
    line-height: 2;
    bottom: 0;
    right: 0;
    > code {
      font-size: 3.5rem;
      background: transparent;
      color: $main-color;
      > span {
        color: $highlight-color;
        display: inline-block;
        vertical-align: 0;
        font-size: 4.2rem;
      }
    }
    h2 {
      font-size: 2rem;
      span {
        color: lighten($highlight-color, 10%);
      }
    }
    ul {
      list-style: none;
      span {
        color: lighten($highlight-color, 10%);
        display: inline-block;
        font-size: 1.75rem;
        margin: 5px 10px 0 0;
      }
    }
  }
}